# Introduction to python

This notebook will introduce beginners to basic concepts in R. We will briefly introduce data types, typecasting, expressions, and variables.

### Data Types

Data types are the basic structuers that represent data in python. The data types that will be covered in this notebook are:
* int
* float
* str
* bool

   
**Expression** |**Data type** |**Example** 
---------- |--------- |------- 
Integer |int |11 
Real numbers |float |11.123 
Words |String |"Hello World" 
compound structures |tuples |(11, 11.123, "Hello World")
Compound Structures |lists |[11, 11.123, "Hello World"]

In python you can check data type by using the type comand:

In [6]:
type(11)

int

In [7]:
type(11.123)

float

Integer types can be positive or negative. Examples: ..., -4, -3, -2, -1, 0, 1, 2, 3, 4, ... There is a finite range of integers but it is quite large.Floats include integers and the numbers between them. Foe example, ..., -1, -0.9, -0.8, -0.7, -0.6, -0.5, ...
You can learn more about the specifics of int and float data types for yur runtime environments using the inbuilt commands sys.float_info, and sys.int_info

In [70]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

##### Strings
Now let us learn about strings. This is the data tyoe that represents words. We shall learn about how to create strings, commands related to indexing, slicing, striding, length, concatenating, escape sequence, and string methods to change string case, find substrings in strings, and replace parts of strings.

In [5]:
type("Hello World")

str

Note that strings are always inside the quotation marks, either teo quotes, "", or single quotes ''. However, you cannot mix the diferent types of quotes.  Strings can include spaces, digits, or special characters. 
Let us think of a string as an oredered sequence of characters where each character can be indexed by the coresponding number, starting from 0.

In [71]:
name = 'Mwenda Kinoti'

In [72]:
name[1]

'w'

We can also use negative indexing where the last character of the string will be indexed by -1.

In [74]:
name[-1]

'i'

Here are more command we can use to operate on strings:

In [77]:
#slicing
name[0:4]

'Mwen'

In [78]:
#striding in this case returns every second variable
name[::2]

'Med ioi'

In [79]:
#a combination of slicing and striding returns every second variable up to the fourth position
name[0:5:2]

'Med'

In [80]:
#this command shows the length of a string
len(name)

13

In [81]:
#this is a command to concatenate strings
name[0:3] + name [8:13]

'Mweinoti'

In [82]:
#replicate the value of a string
3 * name

'Mwenda KinotiMwenda KinotiMwenda Kinoti'

In [87]:
#backslash introduces escape sequences. \n starts a new line.
print("an introduction \n to python")

an introduction
 to python

In [88]:
#\t represents a tab 
print("an introduction \t to python")

an introduction 	 to python

In [89]:
# use double backslash to introduce a backslash in your string
print("to introduce backslash \\")

to introduce backslash \

In [90]:
#Another way to introduce a backslash is by putting an r infront of the string
print(r"another way to introduce a \ backslash")

another way to introduce a \ backslash

In [92]:
#upper is a string method that changes the case of the variables in the string
old_string = ('now we learn about string methods')
new_string = old_string.upper()
new_string

'NOW WE LEARN ABOUT STRING METHODS'

In [94]:
#another string method is replace which has two arguments: what we want to change, and what we a re replacing it with.
old_string = old_string.replace('now', 'then')
old_string

'then we learn about string methods'

In [97]:
#our last string method for this section is find, which finds substrings.
#The argument is the sub-string you would like to find, and the output is the first index of the sequence
old_string.find("methods")

27

##### Boolean
The next type we shall learn about is boolean. A boolean can take on two values: True or False. Note that boolian values are case sensitive.

In [19]:
type(True)

bool

In [20]:
type(False)

bool

##### Tuples
This is a compound data type, an ordered sequence expresed as comma separated values inside parathenses. They can contain different types.

In [124]:
animals = ('cat', 'coe' 'dog', 4, 10)
type(animals)

tuple

In [111]:
#Each element of a tuple can be accessed via an index
animals[0]

'cat'

In [112]:
animals[-1]

10

In [117]:
#or sliced
animals[1:5]

('coedog', 4, 10, 'eagle')

In [118]:
#len returns lenght of the tupple
len(animals)

6

In [126]:
#tuples can be concatenated
animals = animals + ("eagle", "amigo")
animals

('cat', 'coedog', 4, 10, 'eagle', 'amigo')

In [128]:
#tuples are immutable, we can't change them
animals1 = animals
animals = animals + (1, 2, 3)
animals1

('cat', 'coedog', 4, 10, 'eagle', 'amigo')

In [129]:
#tuples allow nesting: contain other tuples and complex data types.
nested_tuple = ('angel', 'devil', animals)
nested_tuple

('angel', 'devil', ('cat', 'coedog', 4, 10, 'eagle', 'amigo', 1, 2, 3))

In [133]:
#you can index tuples within tuples using the conventional methods
nested_tuple[2][3]

10

###### Scenarion: Disco Time
A scenario to practice using tuples

In [179]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Task 1: Find the length of the tuple

In [180]:
len(genres_tuple)

8

Task 2: Access the element corresponding to index 3

In [181]:
genres_tuple[3]

'hard rock'

Task 3: Use slicing to access index 3, 4, and 5

In [183]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Task 4: Find the first two elements of the tuple

In [184]:
genres_tuple[0:2]

('pop', 'rock')

Task 5: find the first index of 'disco'

In [185]:
genres_tuple.index('disco')

7

In [ ]:
task 6: Generate a sorted List from the Tuple C_tuple=(-5, 1, -3)

In [188]:
C_tuple=(-5, 1, -3)
c_list = sorted(C_tuple)
c_list

[-5, -3, 1]

##### Lists
Another popular data structure in python, a sequenced compound type. Lists can contain strings, floats, ints. They can also contain nested lists and tuples. they are created by including the elements of the list within square brackets. List operations include slicing, and methods are such as appending and extending.  The major differene between lists and tuples is that lists are muttable. Thus we use the cloning function to overcome the side effects of mutability.

In [136]:
list1 = ['Uganda', 'cartoon network', animals, nested_tuple]
type(list)

list

In [137]:
#indexing works the same as for tuples
list1[2][5]

'amigo'

In [139]:
#because lists are mutable, we can apply methods such as extend and append. 
#Extend adds individual elements of a list to a new list
list1.extend(['ogopa', 'dj'])
list1

['Uganda',
 'cartoon network',
 ('cat', 'coedog', 4, 10, 'eagle', 'amigo', 1, 2, 3),
 ('angel', 'devil', ('cat', 'coedog', 4, 10, 'eagle', 'amigo', 1, 2, 3)),
 'ogopa',
 'dj']

In [141]:
#append method adds individual elements of a list to another list
list1.append(['what', 'now'])
list1

['Uganda',
 'cartoon network',
 ('cat', 'coedog', 4, 10, 'eagle', 'amigo', 1, 2, 3),
 ('angel', 'devil', ('cat', 'coedog', 4, 10, 'eagle', 'amigo', 1, 2, 3)),
 'ogopa',
 'dj',
 ['what', 'now'],
 ['what', 'now']]

In [144]:
#we use del command to remove an element from a list
del(list1[6])
list1

['Uganda',
 'cartoon network',
 ('cat', 'coedog', 4, 10, 'eagle', 'amigo', 1, 2, 3),
 ('angel', 'devil', ('cat', 'coedog', 4, 10, 'eagle', 'amigo', 1, 2, 3)),
 'ogopa',
 'dj']

In [149]:
#the split method separates every element of a character into a separate character. Here we use ',' as sa delimeter
"into the dark void".split('.')

['into the dark void']

In [164]:
#aliasing is setting multiple names to refer to one variable
A = ['banana', 1, 2]
B = A
#if I change the value of the first element in a, b changes as well
A[0] = 'hard rock'
B

['hard rock', 1, 2]

In [165]:
#to overcome this feature, we can clone list a by using the syntax [:]
B = A[:]
B

['hard rock', 1, 2]

In [167]:
A[0] = "hard rock"
B

['hard rock', 1, 2]

##### Scenario: Shopping List
Let us create a scenario to practice using lists

Task 1: Create an empty list

In [168]:

shopping_list = []

Task 2: Store  items in the list: watch, laptop, shoes, pen, clothes,

In [169]:
shopping_list = ['watch', 'laptop', 'shoes', 'pen', 'clothes']

Task 3: add a new item to the list. You forgot that you need a football

In [171]:
shopping_list = shopping_list + ['football']

task 4: Print the first item in your shopping list

In [172]:
print(shopping_list[0])

watch

Task 5: print the last item from your shoppig list

In [173]:
print(shopping_list[-1])

football

Task 6: Print the entire shopping list

In [174]:
print(shopping_list)

['watch', 'laptop', 'shoes', 'pen', 'clothes', 'football']

Task 7: Print the important items from your list: laptop and shoes

In [175]:
print(shopping_list[1:3])

['laptop', 'shoes']

Task 8: Change the item from the shopping list from pen to notebook

In [176]:
shopping_list[3] = 'notebook'

Task 9: delete an item from the list that you no longer requie, clothers

In [177]:
del(shopping_list[-2])

Task 10: Print the shopping list

In [178]:
print(shopping_list)

['watch', 'laptop', 'shoes', 'notebook', 'football']

### Type Casting
You can change the type of expression in Python, a process called typecasting. For example, tyou can change a float to an integer.

In [9]:
float(2)

2.0

You can also cast a float to an integer but you are liable to lose some information.

In [12]:
int(1.5)

1

You can also convert strings into integers or floats they contain a numerical value.

In [13]:
int("1")

1

However, if you convert any other string you get an error

In [68]:
int("1 person and 5 cars")

ValueError: invalid literal for int() with base 10: '1 person and 5 cars'

You can covert an integer or a float into a string.

In [16]:
str(1)

'1'

In [17]:
str(1.2)

'1.2'

You can cast a boolian into integers, floats, or strings.

In [21]:
int(True)

1

In [22]:
int(False)

0

In [23]:
float(True)

1.0

In [24]:
float(False)

0.0

In [25]:
str(True)

'True'

In [26]:
str(False)

'False'

### Expressions

Expressions describe a type of operations between compatible types such as integers and floats. For example basic arithmetic operations like addition, subtraction, multiplication, and division. Expressions involve operands (the numbers being operated), the opreration represented by a symbol such as +, -, /, //, * in Python.

In [32]:
3+7+9

19

In [33]:
6-4

2

In [34]:
8*9

72

In [36]:
26/5

5.2

In [38]:
26//5
#this is integer division that returns a rounded solution

5

Python follows mathematical conventions when performing mathematical expressions.

In [40]:
23*45-54+1

982

In [41]:
1-54+23*45

982

### Variables

Variables can be used to store values using the assignment operator "=" and use the variable elsewherein the code.

In [43]:
my_variable = 1

In [44]:
my_variable

1

You can overwrite the value of the variable using the assignment operator.

In [46]:
my_variable = 10

In [47]:
my_variable

10

Results of expressions can be stored in the variables, and operations can be performed on variables.

In [48]:
x = 34+46-20

In [49]:
x

60

In [50]:
x/10

6.0

In [51]:
x=x/10

In [52]:
x

6.0

You can use the type command with variables as well

In [53]:
type(x)

float

It is good practice to use meaningful variable names so you don't have to keep wondering what the variable means. For example, dist for distance, dist_m for distance in meters, etc.